<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/Global1.css">
    <title>Map Share</title>

    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        </style>

	</head>
	<body>
		<img src="../static/imgs/404.png" alt="logo" id="logo">
	    <h1 id="msg">{{ error_message }}</h1>
	</body>
</html>